In [60]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta

In [71]:
date_oo = datetime.today()
start = date_oo - timedelta(days=date_oo.weekday())
end = start + timedelta(days=6)
week_number_new = date_oo.isocalendar().week
week_number_new, f'{start.month}/{start.day} - {end.month}/{end.day}' 

period = {'week_num':[], 'range': [], 'leads': []}
week = 8
for i in range(8):
    period['week_num'].append(week)
    period['range'].append(f'{start.month}/{start.day} - {end.month}/{end.day}')
    period['leads'].append(0)
    end = start - timedelta(days=1)
    start = end - timedelta(days=6)
    week = week - 1

    
period

{'week_num': [8, 7, 6, 5, 4, 3, 2, 1],
 'range': ['2/20 - 2/26',
  '2/13 - 2/19',
  '2/6 - 2/12',
  '1/30 - 2/5',
  '1/23 - 1/29',
  '1/16 - 1/22',
  '1/9 - 1/15',
  '1/2 - 1/8'],
 'leads': [0, 0, 0, 0, 0, 0, 0, 0]}

In [5]:
fenella_600 = pd.read_excel("PROSPECTS GLOBAL - Sponsor Targets Worksheet.xlsx")
workbook = pd.read_excel('Contacts_list_Since_02102023.xlsx', sheet_name=['Previously_Contacted','Hangout website'])

In [6]:
Previously_Contacted = workbook['Previously_Contacted']
website_data = workbook['Hangout website']
unsubscribed = Previously_Contacted[Previously_Contacted['Subscription Status']=='Unsubscribed']
unsubscribed

,First Name,Last Name,Email 1,Phone 1,Birthdate,Labels,Created At,Subscription Status,Last Activity,Last Activity Date,Source,Language
63,Laura,NaN,lauracochranedavies@gmail.com,NaN,NaN,hangout tickets day 4.csv;Contacted Me;Hangout...,2021-10-15 18:06:00,Unsubscribed,Unsubscribed from site,2022-11-08 07:56:00,Form Submission,NaN
73,Zachary Edwards,NaN,zacharyedwards122@gmail.com,NaN,NaN,Contacted Me;Hangout website form submissions,2021-10-16 17:23:00,Unsubscribed,Unsubscribed from site,2021-11-10 19:23:00,Form Submission,NaN
113,Merili,NaN,merili.arjakas@gmail.com,NaN,NaN,Hangout website form submissions 3;Contacted M...,2021-10-29 10:52:00,Unsubscribed,Unsubscribed from site,2022-11-03 11:56:00,Form Submission,NaN
127,lisa,NaN,waterwitch23@gmail.com,NaN,NaN,Hangout tickets day 1.csv;hangout tickets day ...,2021-10-31 18:14:00,Unsubscribed,Unsubscribed from site,2022-11-08 08:08:00,Contact Import,NaN
140,Ciaran,NaN,ciaranocarroll@gmail.com,NaN,NaN,Hangout tickets day 1.csv;Hangout COP 26 atten...,2021-10-31 18:14:00,Unsubscribed,Unsubscribed from site,2022-11-08 09:05:00,Contact Import,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
4340,Milton Vidal,NaN,mflvidal@gmail.com,NaN,NaN,Contacted Me;Extreme Hangout COP27 - Register ...,2022-11-09 12:50:00,Unsubscribed,Unsubscribed from site,2022-11-09 12:51:00,Form Submission,en
4466,Zoe Tcholak-Antitch,NaN,zoe@globalcommons.org,NaN,NaN,Contacted Me;Extreme Hangout COP27 - Register ...,2022-11-10 14:35:00,Unsubscribed,Unsubscribed from site,2022-12-22 11:49:00,Form Submission,en
4567,Youssef Hussein,NaN,youssefhussein1997@hotmail.com,NaN,NaN,Contacted Me;Extreme Hangout COP27 - Register ...,2022-11-16 15:29:00,Unsubscribed,Unsubscribed from site,2022-11-16 23:11:00,Form Submission,en
4579,Prof.Mamdou Salem Serag,NaN,mamdouhserag054@gmail.com,NaN,NaN,Contacted Me;Extreme Hangout COP27 - Register ...,2022-12-04 17:38:00,Unsubscribed,Unsubscribed from site,2022-12-04 20:55:00,Form Submission,en
4582,Dr Mohamed Senousy,NaN,dr.m.senousy@gmail.com,NaN,NaN,Contacted Me;Extreme Hangout COP27 - Register ...,2022-12-15 08:51:00,Unsubscribed,Unsubscribed from site,2022-12-15 09:22:00,Form Submission,en

In [7]:
fenella_600.head()

,Priority,Organisation,First name,Last name,Job Title,email,phone,Notes,Location,Sector / Area of Expertise,Next steps,Ideas,other contacts,other info
0,NaN,Abrdn,Stephen,Bird,Chief Executive Officer,stephen.bird@abrdn.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,AB InBev,Andre,Fourie,Global Director: Water Sustainability,Andre.Fourie@ab-inbev.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,AB-Inbev,Timiko,Cranwell,Legal & Corporate Affairs Director,Timiko.Cranwell@ab-inbev.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,Ab-Inbev / Stella Artois,Ali,Humphrey,Europran Marketing Director,ali.humphrey@ab-inbev.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,AECOM,Deborah,Harris,Global head of brand,deborah.harris@aecom.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
fenella_600.isnull().sum()
fenella_600['Last name'].replace(np.nan, ' ', inplace=True)
fenella_600.isnull().sum()

Priority                      565
Organisation                    0
First name                      0
Last name                       0
Job Title                      31
email                           0
phone                         564
Notes                         565
Location                      565
Sector / Area of Expertise    565
Next steps                    565
Ideas                         565
other contacts                565
other info                    565
dtype: int64

In [14]:
# fenella_600['Name'] = fenella_600['First name'] + ' ' + fenella_600['Last name']
fenella_600[['Name', 'First name', 'Last name', 'Organisation', 'Job Title', 'email', 'phone']].to_csv('fen_600.csv')

In [46]:
files = ['Add.csv', 'Add_0.csv','Add_1.csv', 'Add_2.csv', 'Add__1.csv', 'Add__2.csv', 'Add__3.csv',]
FRAMES = []
for  _ in files:

    df = pd.read_csv(_)
    FRAMES.append(df)
# s.strip()

df_0 = pd.concat(FRAMES)

In [51]:
address = df_0['expe'].values.tolist()
add_000 = []

for _ in address:
    s = _.strip()
    s = s.replace('Contact info', ' ')
    s = s.strip()
    add_000.append(s)
add_000[:5]

['No Entry Found',
 '<ul class="pv-text-details__right-panel">\n<li class="pv-text-details__right-panel-item">\n<button aria-label="Current company: AB InBev. Click to skip to experience card" class="pv-text-details__right-panel-item-link text-align-left" type="button">\n<img alt="" class="ember-view pv-text-details__right-panel-item-text-image EntityPhoto-square-1" id="ember9013" src="https://media.licdn.com/dms/image/C560BAQEZRSga0FreWA/company-logo_100_100/0/1656631574060?e=1684368000&amp;v=beta&amp;t=YelbeMTHiTawHCNEzRK5yUFPWIY0yV6MkHk0BqAUlXs"/>\n<span class="pv-text-details__right-panel-item-text hoverable-link-text break-words text-body-small t-black">\n<div class="inline-show-more-text inline-show-more-text--is-collapsed inline-show-more-text--is-collapsed-with-line-clamp inline" style="line-height:2rem;max-height:4rem;-webkit-line-clamp:2;" tabindex="-1">\n\n    AB InBev\n  \n<!-- --></div>\n</span>\n</button>\n</li>\n<li class="pv-text-details__right-panel-item">\n<button aria-label="Education: Oxford Brookes University. Click to skip to education card" class="pv-text-details__right-panel-item-link text-align-left" type="button">\n<img alt="" class="ember-view pv-text-details__right-panel-item-text-image EntityPhoto-square-1" id="ember9014" src="https://media.licdn.com/dms/image/C4E0BAQHt0KxZbmpflA/company-logo_100_100/0/1675245048090?e=1684368000&amp;v=beta&amp;t=MK_zgK7JCIJGVz1IdFBiC_6O2RsJlsPeDT5SPtmh8Ps"/>\n<span class="pv-text-details__right-panel-item-text hoverable-link-text break-words text-body-small t-black">\n<div class="inline-show-more-text inline-show-more-text--is-collapsed inline-show-more-text--is-collapsed-with-line-clamp inline" style="line-height:2rem;max-height:4rem;-webkit-line-clamp:2;" tabindex="-1">\n\n    Oxford Brookes University\n  \n<!-- --></div>\n</span>\n</button>\n</li>\n</ul>',
 '<ul class="pv-text-details__right-panel">\n<li class="pv-text-details__right-panel-item">\n<button aria-label="Current company: Anheuser-Busch InBev. Click to skip to experience card" class="pv-text-details__right-panel-item-link text-align-left" type="button">\n<img alt="" class="ember-view pv-text-details__right-panel-item-text-image EntityPhoto-square-1" id="ember9593" src="https://media.licdn.com/dms/image/C560BAQEZRSga0FreWA/company-logo_100_100/0/1656631574060?e=1684368000&amp;v=beta&amp;t=YelbeMTHiTawHCNEzRK5yUFPWIY0yV6MkHk0BqAUlXs"/>\n<span class="pv-text-details__right-panel-item-text hoverable-link-text break-words text-body-small t-black">\n<div class="inline-show-more-text inline-show-more-text--is-collapsed inline-show-more-text--is-collapsed-with-line-clamp inline" style="line-height:2rem;max-height:4rem;-webkit-line-clamp:2;" tabindex="-1">\n\n    Anheuser-Busch InBev\n  \n<!-- --></div>\n</span>\n</button>\n</li>\n<li class="pv-text-details__right-panel-item">\n<button aria-label="Education: London Business School. Click to skip to education card" class="pv-text-details__right-panel-item-link text-align-left" type="button">\n<img alt="" class="ember-view pv-text-details__right-panel-item-text-image EntityPhoto-square-1" id="ember9594" src="https://media.licdn.com/dms/image/C4E0BAQGkCoLWYghgQA/company-logo_100_100/0/1663657373182?e=1684368000&amp;v=beta&amp;t=gD5CwIWLwQ7VAKL-y59w15DCDuONtRwik9PCRwKbo6c"/>\n<span class="pv-text-details__right-panel-item-text hoverable-link-text break-words text-body-small t-black">\n<div class="inline-show-more-text inline-show-more-text--is-collapsed inline-show-more-text--is-collapsed-with-line-clamp inline" style="line-height:2rem;max-height:4rem;-webkit-line-clamp:2;" tabindex="-1">\n\n    London Business School\n  \n<!-- --></div>\n</span>\n</button>\n</li>\n</ul>',
 '<ul class="pv-text-details__right-panel">\n<li class="pv-text-details__right-panel-item">\n<button aria-label="Current company: draftLine Europe. Click to skip to experience card" class="pv-text-details__right-panel-item-link text-align-left" type="button">\n<img alt="" class="ember-view pv-text-details__right-panel-item-text-image EntityPhoto-square-1" id="ember9969" src="https://media.licdn.com/dms/image/C4D0BAQEjonIpgA9S7w/company-logo_100_100/0/1608308118929?e=1684368000&amp;v=beta&amp;t=dSYHQjd9sqohCnYxr5jZlGJ3gT_Joq3lH14m2js8QGs"/>\n<span class="pv-text-details__right-panel-item-text hoverable-link-text break-words text-body-small t-black">\n<div class="inline-show-more-text inline-show-more-text--is-collapsed inline-show-more-text--is-collapsed-with-line-clamp inline" style="line-height:2rem;max-height:4rem;-webkit-line-clamp:2;" tabindex="-1">\n\n    draftLine Europe\n  \n<!-- --></div>\n</span>\n</button>\n</li>\n<li class="pv-text-details__right-panel-item">\n<button aria-label="Education: The University of Edinburgh. Click to skip to education card" class="pv-text-details__right-panel-item-link text-align-left" type="button">\n<img alt="" class="ember-view pv-text-details__right-panel-item-text-image EntityPhoto-square-1" id="ember9970" src="https://media.licdn.com/dms/image/C4D0BAQFSi1nlisxTcg/company-logo_100_100/0/1519856422206?e=1684368000&amp;v=beta&amp;t=IvAMDYK-aOcmZvnwzz5k_-b7wLdtwg50KOsWKDIKbZ8"/>\n<span class="pv-text-details__right-panel-item-text hoverable-link-text break-words text-body-small t-black">\n<div class="inline-show-more-text inline-show-more-text--is-collapsed inline-show-more-text--is-collapsed-with-line-clamp inline" style="line-height:2rem;max-height:4rem;-webkit-line-clamp:2;" tabindex="-1">\n\n    The University of Edinburgh\n  \n<!-- --></div>\n</span>\n</button>\n</li>\n</ul>',
 'No Entry Found']

In [33]:
df_0.columns

Index(['Unnamed: 0', 'name', 'expe', 'position_company', 'addr', 'Experience'], dtype='object')

In [52]:
df_0['Experience'] = add_000

In [53]:
df_0[['name', 'address', 'Position_Company', 'Experience']]

,name,address,Position_Company,Experience
0,Stephen Bird Abrdn,No Entry Found,No Entry Found,No Entry Found
1,"<h1 class=""text-heading-xlarge inline t-24 v-a...","<div class=""pv-text-details__left-panel mt2"">\...","<div class=""text-body-medium break-words"">\n ...","<ul class=""pv-text-details__right-panel"">\n<li..."
2,"<h1 class=""text-heading-xlarge inline t-24 v-a...","<div class=""pv-text-details__left-panel mt2"">\...","<div class=""text-body-medium break-words"">\n ...","<ul class=""pv-text-details__right-panel"">\n<li..."
3,"<h1 class=""text-heading-xlarge inline t-24 v-a...","<div class=""pv-text-details__left-panel mt2"">\...","<div class=""text-body-medium break-words"">\n ...","<ul class=""pv-text-details__right-panel"">\n<li..."
4,Deborah Harris AECOM,No Entry Found,No Entry Found,No Entry Found
...,...,...,...,...
88,Simon Reid,United Kingdom,"Head of Sustainability Strategy, Governance an...",Jaguar Land Rover\n \n\n\n\n\n\n\n\n\n\n\n ...
89,James Baker,Greater Oxford Area,"Head of HR, Overseas Markets at Jaguar Land Rover",Jaguar Land Rover\n \n\n\n\n\n\n\n\n\n\n\n ...
90,Lennard Hoornik Jaguar Land Rover,No Entry Found,No Entry Found,No Entry Found
91,Thierry BollorÃ©,"Coventry, England, United Kingdom",Thierry BollorÃ©,
92,Camilla Honey JFDI,No Entry Found,No Entry Found,No Entry Found

In [54]:
df_0[['name', 'address', 'Position_Company', 'Experience']].to_csv('all.csv')

In [28]:
df_0.to_csv('all.csv')

In [ ]:
from sheet2api import Sheet2APIClient

client = Sheet2APIClient(api_url='https://sheet2api.com/v1/FgI6zV8qT121/characters/')
client.get_rows()